<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin/adminHeader.css" />
    <link rel="stylesheet" href="/css/admin/adminViewMenuItem.css" />
    <link rel="stylesheet" href="/css/admin/adminModal.css" />
    <script
      src="https://kit.fontawesome.com/65f44f413a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <ul>
            <a href="/admin/home"><li id="home">Home</li></a>
            <a href="/admin/mandiDetails"
              ><li id="mandiDetails">Mandi Details</li></a
            >
            <a href="/admin/rolesAndPermission"
              ><li id="rolesAndPermission">Roles and Permissions</li></a
            >
            <a href="/admin/license"><li id="license">License</li></a>
            <a href="/admin/users"><li id="users">Users</li></a>
          </ul>
          <div class="profile_menu">
            <button>Profile</button>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="menu_action">
        <!-- <h1 id="menu_title"></h1> -->
        <button id="goBack" class="backBtn">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back
        </button>
        <div id="button_container"></div>
      </div>
      <div class="details_section">
        <div id="loading_spinner">
          <img src="/images/loading7.gif" alt="Loading..." />
        </div>
        <h1 id="menu_title"></h1>
        <br />
        <br />
        <div id="details_section_content"></div>
      </div>
    </main>

    <div class="modal_container" id="modal_container">
      <div class="modal">
        <h1 id="modal_title"></h1>

        <div id="modal_footer" class="modal_footer"></div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="/js/admin/adminViewMenuItem.js"></script>
  </body>
</html>
