<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/admin/adminHome.css" />
    <script
      src="https://kit.fontawesome.com/7a4b62b0a4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <ul>
            <a href="/admin/home"><li class="menu_active">Home</li></a>
            <a href="/admin/mandiDetails"><li>Mandi Details</li></a>
            <a href="/admin/rolesAndPermission"
              ><li>Roles and Permissions</li></a
            >
            <a href="/admin/license"><li>License</li></a>
            <a href="/admin/users"><li>Users</li></a>
          </ul>
          <div class="profile_menu">
            <button>Profile</button>
          </div>
        </div>
      </nav>
    </header>
    <!-- <main>
      <section class="side_section">
        <ul>
          <a href="#Introduction"><li>Introduction</li></a>
          <a href="#What_you_should_already_know"
            ><li>What you should already know</li></a
          >
          <a href="#JavaScript_and_Java"><li>JavaScript and Java</li></a>
          <a href="#Hello_world"><li>Hello world</li></a>
          <a href="#Variables"><li>Variables</li></a>
        </ul>
      </section>
      <section class="main_section"></section>
    </main> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="/js/admin/adminHome.js"></script>
  </body>
</html>
