<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <script
      src="https://kit.fontawesome.com/7a4b62b0a4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/user/forgotPassword.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/">
          <div class="logo">
            <img src="/images/newLogo.png" alt="logo" />
            <h2 class="logo_text">Mandi Management</h2>
          </div>
        </a>
      </nav>
    </header>

    <main>
      <div class="hero_section">
        <div class="container">
          <form id="resetForm">
            <p>
              Please enter your registered email address to reset your password
            </p>
            <div class="form_control">
              <input
                type="email"
                id="remail"
                name="rEmail"
                placeholder="Enter Email"
                required
              />
              <!-- <label for="remail" class="form-label">Enter Email</label>
                <br /> -->
              <br />
            </div>

            <button
              class="btn btn-primary float-right"
              id="reset"
              type="submit"
              form="resetForm"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </main>
    <footer>Copyright © A 2024 Company</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script type="module" src="/js/user/forgotPassword.js"></script>
  </body>
</html>
