<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Login</title>
    <script
      src="https://kit.fontawesome.com/7a4b62b0a4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/user/login.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/">
          <div class="logo">
            <img src="images/newLogo.png" alt="logo" />
            <h2 class="logo_text">Mandi Management</h2>
          </div>
        </a>
        <div class="nav_menu">
          <a href="/signup">
            <button class="signup_button">Sign Up</button>
          </a>
        </div>
      </nav>
    </header>

    <main>
      <div class="hero_section">
        <div class="container">
          <div class="hero_content">
            <h1>Mandi Management</h1>
            <h3>Streamline Your Paddy to Rice Journey!</h3>
          </div>
          <form id="loginForm">
            <div class="form_container">
              <h1>Sign In</h1>

              <div class="form_control">
                <label for="email" class="form-label">Enter Email</label>
                <input
                  type="email"
                  id="lEmail"
                  name="Email"
                  class="form-control"
                  placeholder="Email"
                  required
                />
              </div>

              <div class="form_control">
                <label for="password" class="form-label">Enter Password</label>
                <input
                  type="password"
                  id="lPassword"
                  name="Password"
                  class="form-control"
                  placeholder="Enter Password"
                  required
                />
              </div>

              <p style="color: red; font-size: 15px" id="loginError"></p>
              <button class="" type="submit" form="loginForm">Login</button>
              <a class="forgot_password" href="/user/password/forgot-password"
                >Forgot Password ?</a
              >
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer>Copyright © A 2024 Company</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script type="module" src="/js/user/login.js"></script>
  </body>
</html>
