<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/user/manageUser.css" />
    <script
      src="https://kit.fontawesome.com/65f44f413a.js"
      crossorigin="anonymous"
    ></script>
    <title>Manage User</title>
  </head>
  <body>
    <header>
      <div class="main_header">
        <a href="/home">
          <div class="logo">
            <img src="/images/newLogo.png" alt="logo" />
            <h2 class="logo_text">Mandi Management</h2>
          </div>
        </a>
        <div class="main_header_settings">
          <img src="/images/setting.png" alt="setting" id="settings_icon" />
          <img src="/images/profile.png" alt="profile" id="profile_icon" />
        </div>
      </div>

      <!--settings menu  -->
      <div class="settings_menu" id="setting_menu">
        <div class="settings_menu_inner">
          <div class="setting_links">
            <img
              src="/images/setting.png"
              alt="settings"
              class="settings_icon"
            />
            <a href="/home/manage-account">
              Manage Account
              <img src="/images/arrow.png" alt="arrow" width="10px" />
            </a>
          </div>

          <div class="setting_links">
            <img src="/images/users.png" alt="logout" class="settings_icon" />
            <a href="/home/manage-user">
              Manage Users
              <img src="/images/arrow.png" alt="arrow" width="10px" />
            </a>
          </div>
        </div>
      </div>

      <!-- profile  menu -->
      <div class="settings_menu" id="profile_menu">
        <!-- <div id="dark_btn">
          <span></span>
        </div> -->
        <div class="settings_menu_inner">
          <div class="user_profile">
            <img src="/images/profile.png" alt="profile" />
            <div>
              <a href="/home/profile">Profile</a>
            </div>
          </div>

          <div class="setting_links">
            <img src="/images/logout.png" alt="logout" class="settings_icon" />
            <a id="logout">
              Logout
              <img src="/images/arrow.png" alt="arrow" width="10px" />
            </a>
          </div>
        </div>
      </div>
    </header>

    <main>
      <!-- <div class="side_section">
        <div>
          <h2 id="account_info" class="menu_item">Account Info</h2>
        </div>
        <div id="company_info">
          <h2>Company Info</h2>
          <ul>
            <li id="companyLocation" class="menu_item">Company Location</li>
            <li id="userDistricts" class="menu_item">District</li>
            <li id="companyFactory" class="menu_item">Factory</li>
            <li id="companyTrader" class="menu_item">Trader</li>
          </ul>
        </div>
      </div> -->

      <div class="main_section">
        <div id="loading_spinner">
          <img src="/images/loading7.gif" alt="Loading..." />
        </div>

        <div id="main_section_container"></div>
      </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="/js/user/headerSettings.js"></script>
    <script type="module" src="/js/user/manageUser.js"></script>
  </body>
</html>
