/* general css */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* color schemes */
:root {
  --body-color: #efefef;
  --nav-color: #4a91d9;
  --bg-color: #fff;
  --text-color: #000;
}

.dark_theme {
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
}

/* header css */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.08);
  background-color: var(--bg-color);
}
.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid;
}
.main_header a {
  text-decoration: none;
  color: var(--text-color);
}
.main_header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main_header .logo img {
  height: 5rem;
  cursor: pointer;
}
.main_header .logo h2 {
  font-size: 3rem;
}
.main_header_settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-right: 2rem;
}
.main_header_settings img {
  width: 40px;
  cursor: pointer;
}

nav {
  border-bottom: 1px solid;
  padding: 1rem 3rem;
  background-color: var(--nav-color);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
nav ul li {
  color: #e7f3ff;
  font-size: 2.5rem;
  font-weight: 300;
}

nav ul li:hover {
  color: white;
}

nav ul .menu_active {
  color: white;
  font-weight: 400;
}

.settings_menu {
  position: absolute;
  width: 90%;
  max-height: 0;
  max-width: 350px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 60%;
  right: 1%;
  transition: max-height 0.3s;
}
.settings_menu_height {
  max-height: 450px;
}

.settings_menu_inner {
  padding: 20px;
}
.settings_menu_inner .user_profile {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.user_profile img {
  width: 45px;
  margin-right: 10px;
}

.user_profile a {
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
}

.setting_links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.setting_links .settings_icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.setting_links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #626262;
}

#dark_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}

#dark_btn span {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
#dark_btn.dark_btn_on {
  padding-left: 23px;
  background: #0a0a0a;
}

/* buttons */
button {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  border: none;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  background-color: #ccc;
}

button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.submitBtn {
  background: #1c78d4;
  color: #fff;
}

.deleteBtn {
  background-color: #f60014;
}

.backBtn {
  color: black;
  background-color: white;
}
.backBtn:hover {
  text-decoration: underline;
}
