<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mandi Management</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/7a4b62b0a4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/">
          <div class="logo">
            <img src="images/newLogo.png" alt="logo" />
            <h2 class="logo_text">Mandi Management</h2>
          </div>
        </a>
        <div class="nav_menu">
          <a href="/login">
            <button class="login_button">
              <!-- <i class="fa fa-user"></i> -->
              Sign In
            </button>
          </a>
          <a href="/signup">
            <button class="signup_button">Sign Up</button>
          </a>
        </div>
      </nav>
    </header>

    <main>
      <div class="hero_section">
        <div class="container">
          <div class="hero_content">
            <h1>Mandi Management</h1>
            <h3>Streamline Your Paddy to Rice Journey!</h3>
            <p>
              Effortlessly manage paddy procurement, track its conversion to
              rice, and ensure seamless delivery to agents—all in one intuitive
              app. Optimize your mandi operations with ease and precision!
            </p>

            <a href="/signup">
              <button class="getting_started">Get Started for free</button>
            </a>
          </div>
          <div class="hero_img">
            <img src="images/agri14.jpg" alt="" />
          </div>
        </div>
      </div>
    </main>
    <footer>Copyright © A 2024 Company</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script type="module" src="/js/user/index.js"></script>
  </body>
</html>
